language: java
sudo: false
jdk:
  - openjdk14
notifications:
  email:
    recipients:
      - jj.turkiewicz@gmail.com
    on_success: never
    on_failure: always
env:
  global:
    - secure: Qc3XiWk1tbZVJuLnZlCsnOBJBdxwB58YHZc/kBIMQQzTOoB+RTCTykSBKFjgo1tuKvxobFICaRCB3AY3tgXUqufCjB5jYou+SOiOuy51Z1DdZ+5Va/zKWh+mg3w+kC2pvDT4JHJbJ2hKVTcqGHUN/K/3jNPC/xQYJw4HbXBQWUnu43LD+XbJf5F5onw9q8kWxbPTY1IOIN1q3DW040F/M8Fn0tOn6a6yI3K1sivSH5vn6YbQi2rHVoU7gKGAE07LvOn6MJl2hqefI1OmTOp91t8knbLATS8cxxod/pUiAhpibD0GnMIxGK3ISI1zdyLCnDouetsrJy3b5Sa+QjcjJxqM1pQ/0BYvLJa0xKx9MMmdhJ5LIK6lfoF2wLBJQRUuYJw5dg/MwJyuobmVbYpTye5U7keTTuZH0G0mKoYUgXzqp0uVU1Ew9WWUEefxEAxYefEtG9SKp7gFI5eMajgUP4GDMB/izE64L74AGJGCOttc3BPRKpm4MLYoFdeni565ICci7rAETqBSqd3ffKINpYRsteSenEQuA4ma9CKvegwI0SOdOnhVZ2aTMRXFczsOtYNyXXKRp77yy0gjBFgBxRGTGoNxQ82u5UTCMAUnTtftq2Hg7n3GAOsnN/uYG7mlYX/JJGLz7rZWLtvcBsw19CQEZ20ltlzZvGuvtafM7ec=
    - secure: NiH8h4afzHXhIUc09k2xXYg7QDiTam2/ZPCciJObqEDK6Vb3fsJ0g4t4PI9XjtwqrfxxU1BoM+0qyZhKFqURgowbUVfOgSWTjOaeMONf/faYbhzKKGoy1gClzkDUrBM8CjtUxYT4wl0gGHz/M0P1tts+WYfdhNJgytgDpKeg96dm73gxxNpf3o5sOPMi5jvGsvwoV34gfqYrrUhD3Re1X5jWMdXX4FT4ALJF8PU0QvMfYnLl4CDfVABpGAHIsY2vqrRy2s/xcMAGcKwQ7hpqjpZeTZpHVsxvPOrV4fMVV3m50QHD2wp+eMsm2u60UZh7P14QU4tazbpQXOZAvjDa6gnM1IkgRYv0fYsUqKMJFLEOwyMHUo6BAUBTLUyRw5/ChMVDOuoSYiPMqgjukdiVHGi4a35InxUGcojH8Zl21H0AhQ9heB6U+ov9B+mxXMBOutiFKcqimm37pz8AcEzgMzh3MFuebuYvNpcmGm47UsdPqNSduC/B7JXvXDCoIfPRDC2tnU+p5PELSx7liPhHVydtTUuJ5J6WM78cFE9hA5xxzsqBH6OM1TGyDHuxnZogvYX7oLqS/JDUYNW1kDeeAQeirorF+8btATPd9siqtQQ0hFQfiwSCr6aaDO/eqZGb7haJZ11eXPM7CCy9OmH+VuPahjGv4Ai6jsRNOBS27vE=
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script:
  - ./gradlew build --scan -s